

<nav   class=" text-white  animate__animated animate__fadeDown  animate__delay-1s  bg-red-700   drop-shadow-2xl shadow-gray-600  fixed   animate__fadeIn w-full z-50  top-0 start-0 border-b border-gray-200 d ">
  <div  class="    max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
    <a href="#"  class="flex items-center    rtl:space-x-reverse">
      <svg xmlns="http://www.w3.org/2000/svg" height="30px" viewBox="0 -960 960 960" width="30px" fill="#FFFFFF"><path d="M232-240h462l90-480H562L232-240ZM80-160l440-640h360L760-160H80Zm500-240q42 0 71-29t29-71q0-42-29-71t-71-29q-42 0-71 29t-29 71q0 42 29 71t71 29ZM232-240h462-462Z"/>
      </svg>
      <span class="self-center  font-thin text-2xl    whitespace-nowrap text-white">GENCE</span>
    </a>




  </div>

</nav>


