<div class="font-body bg-white text-gray-800">
    <!-- Barre de navigation -->
    <nav class="bg-white shadow-md py-4 px-6 sticky top-0 z-50  ">
        <div class="container mx-auto flex justify-between items-center">
            <div    class="flex items-center">
                 <svg xmlns="http://www.w3.org/2000/svg" height="30px" viewBox="0 -960 960 960" width="30px" fill="#434343"><path d="M232-240h462l90-480H562L232-240ZM80-160l440-640h360L760-160H80Zm500-240q42 0 71-29t29-71q0-42-29-71t-71-29q-42 0-71 29t-29 71q0 42 29 71t71 29ZM232-240h462-462Z"/>
                </svg>
                <a routerLinkActive="active"  routerLink="/home/first-sight" class="text-primary font-heading text-3xl font-bold">AirlineAgence</a>
            </div>

            <div class="hidden md:flex items-center space-x-4">
                <button routerLinkActive="active"  routerLink="/home/login" (click)="changeViews('login')" class="bg-primary text-white px-6 py-2 rounded-md  bg-red-800 transition">
                    Connexion
                </button>
                <button routerLinkActive="active"  routerLink="/home/register"  class=" text-white border border-primary px-6 py-2 rounded-md  bg-blue-700 transition">
                    Inscription
                </button>
            </div>
        </div>
    </nav>

    <main>
      <router-outlet></router-outlet>
    </main>



    <!-- Footer -->
    <app-footer></app-footer>
</div>
